APP_ENV=production
APP_KEY="replace-with-at-least-32-random-characters"
APP_URL="https://example.org"
APP_PORT=8080

DB_HOST=database.example.org
DB_PORT=3306
DB_NAME=srf3spotify
DB_USER=srf3spotify
DB_PASSWORD="replace-me"
DB_ROOT_PASSWORD="local-compose-only"
DB_FORWARD_PORT=3307

ADMIN_PASSWORD_HASH='generate-with-password_hash'
CRON_TOKEN="replace-with-a-random-token"

SRF_BASE_URL="https://il.srf.ch/integrationlayer/2.0/srf/songList/radio/byChannel"
SRF_CHANNEL_ID="dd0fa1ba-4ff6-4e1a-ab74-d7e49057d96f"
SRF_PAGE_SIZE=500

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=